{% extends 'base2.html' %}
{% block body %}
<div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
        <div class="col-md-10 mx-auto">
<div class="card" style="width: 18rem;">
  <div class="card-body">
  <h3>Members:</h3>
    <p class="card-text">NAME: AVANI KHANDELWAL<br>EN18CS301061<br>CS-B</p>
    <p class="card-text">NAME: BURHANUDDIN<br>EN18CS301070<br>CS-B</p>
    <p class="card-text">NAME: CHIRAYU YADAV<br>EN18CS301072<br>CS-B</p>
    <p class="card-text">NAME: DHRUV BOTHRA<br>EN18CS301079<br>CS-B</p>
  </div>
</div>
{% endblock body %}