{% extends 'base2.html' %}
{% block body %}
<div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
        <div class="col-md-10 mx-auto">
            <div class="card" style="border: none">
                <div class="card-body card_back">
                    <h2>BILTY</h2>
                    <form action="{% url 'bilty_update' bilty.id %}" method="post">
                        {% csrf_token %}                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="lr.no" class="newline">L.R. NO.</label>
                                    <input type="text" name="lr_no" id="lr.no" value="{{bilty.lr_no}}"placeholder='L.R. NO.'>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="truckno" class="newline">Truck No.</label>
                                    <input type="text" name="truckno" id="truckno" value ="{{bilty.truckno}}" placeholder="XX-00-XX-00">
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="invoiceno" class="newline">INVOICE NO.</label>
                                    <input type="text" name="invoiceno" id="invoiceno" value="{{bilty.invoiceno}}"placeholder='INVOICE NO.'>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="date" class="newline">DATE</label>
                                    <input type="date" name="date" value ="{{bilty.date|date:"Y-m-d" }}" id="date" placeholder="XX-00-XX-00" >
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="consignor" class="newline">Consignor</label>
                                    <textarea type="text" name="consignor_details" id="consignor-details" cols="100" rows="3"
                                placeholder="consignor-details">{{bilty.consignor_details}}</textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="consignee" class="newline">Consignee</label>
                                     <textarea name="consignee_details"  id="consignee-details" cols="100" rows="3"
                                placeholder="consignee-details">{{bilty.consignee_details}}</textarea>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="rate" class="newline">RATE</label>
                                    <input type="text" name="rate"  value ="{{bilty.rate}}" id="rate" placeholder="-\Rs">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="weight" class="newline">WEIGHT</label>
                                    <input type="text" name="weight" value ="{{bilty.weight}}" id="weight" placeholder="KILOGRAMS">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="fair" class="newline">FAIR</label>
                                    <input type="text" name="fair" value ="{{bilty.fair}}" id="fair" placeholder="BHADA">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="advance" class="newline">ADVANCE</label>
                                    <input type="text" name="advance" value ="{{bilty.advance}}" id="advance" placeholder="ADVANCE AMOUNT">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="recived-money" class="newline">TOTAL AMOUNT</label>
                                    <input type="text" name="recived_money" value ="{{bilty.recived_money}}" id="recived-money"
                                        placeholder="TOTAL AMOUNT">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="inputwrapper">
                                    <label for="goods-description" class="newline">DESCRIPTION</label>
                                    <input type="text" name="goods_description" value ="{{bilty.goods_description}}" id="goods-description"
                                        placeholder="NOTE">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="mybutton">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body %}