{% extends 'base2.html' %}
{% block body %}
<div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
	<div class="col-md-10 mx-auto">
		<h3>Password reset</h3>
		<div class="heading" style="margin-bottom: 25px;">
		<h5><br>Forgotten your password? <br>Enter your email address below, and we’ll email instructions for setting a new one.</h5></div>
			<form method="post">
			{% csrf_token %}
				{{form}}
			<button type="submit" class="btn btn-outline-success btn-sm" style="margin-left: 10px;">Send Email</button>
			</form>
	</div>
</div>
</div>
{% endblock body %}