{% extends 'base2.html' %}
{% block body %}
<header>
<div class="container bg pb-5">
  <div class="row justify-content-center ">
    <div class="col-10">
          <h2 class="h2">TRIP PROFILE</h2>
          <div class="row">
                <div class="col-4">
                <form method="get" action="/search" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Truck No." aria-label="Search"
                        name="query6" id="query6">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    {% csrf_token %}
                </form></div>
                <div class="col-ml-4">
                <a href="{% url 'trip_show' %}" class = " btn btn-outline-success ">Show All</a>
                </div>
                </div>
                {% if page_obj|length < 1 %}
                <p>No search found</p>
                {% endif %}
          <table class="table table-bordered" style="color:white;margin-top:50px;">
            <thead class="thead">
              <tr>
                <th scope="col">TRUCK NO.</th>
                <th scope="col">COMPANY NAME </th>
                <th colspan=2 scope="col"><a href="{% url 'trip_profile' %}" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add New</a>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in page_obj %}
              <tr>
                <td>{{i.truckno}}</td>
                <td>{{i.company_name}}</td>
                <td>
                  <!-- Button trigger modal -->
                  <a class="btn btn-info" href="{%url 'pdf_view' i.id %} "target=_blank >TRIP INFO</a>
                  </a>
                </td>
                <td>
                                <a href="{% url 'trip_profile_edit' i.id %}" class="btn text-secondary px-0">
                                    <i class="far fa-edit fa-lg"></i>
                                </a>
                                <form action="{% url 'trip_profile_delete' i.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">
                                        <i class="fas fa-user-times fa-lg text-danger float-right"></i>
                                    </button>
                                </form>
                            </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
 <div class="">
                    Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1%} class="page-item active" {% endif %}>
                            <a class="page-link" href="?page=1" tabindex="-1">&laquo; first</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif%}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                &raquo;</a></li>
                        {% endif %}
                        </li>
                    </ul>
                </nav>
                <br>
          </div>
          </div>
          </div>
<style>
.col-10{
  color:white;
}
</style>


</header>
{% endblock body %}